.parent {
  text-align: center;
  /*position: relative;*/
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  background-color: #ffffff;
}

.child {
  text-align: center;
  /*position: absolute;*/
  margin: 32px;
  left: 50%;
  top: 50%;
  width: 300px;
  height: auto;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.tarif {
  /* Style for "Тариф мини" */
  /* width: 122px; */
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #212121;
  font-family: "Museo Sans Cyrl -300";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  /* Text style for "Тариф мини" */
}

.number {
  /* Style for "9 000" */
  margin-bottom: 32px;
  color: #5ba2a9;
  font-family: "Museo Sans Cyrl -500";
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.rub {
  /* Style for "руб." */
  margin-bottom: 32px;
  color: #5ba2a9;
  font-family: "Museo Sans Cyrl -300";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.text {
  /* Style for "Шары 30 шт" */
  margin-left: 46px;
  margin-right: 46px;
  margin-bottom: 32px;
  margin-top: 32px;
  /*width: 201px;*/
  /*height: 114px;*/
  color: #454545;
  font-family: "Museo Sans Cyrl -300";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.btn {
  padding: 21px 29px;
  margin-bottom: 32px;
  border: 2px solid #e8e8e8;
  background-color: #ffffff;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}
